@font-face {
  font-family: Arabic-font;
  src: url(../Style/Fonts/El_Messiri/static/ElMessiri-Regular.ttf);
}
@font-face {
  font-family: Qatar2022Arabic-medium;
  src: url(../Style/Fonts/qatar-2022-font/Qatar2022-Medium.otf);
}

*::selection {
  color: #edefe4;
  background: #8b1538;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Qatar2022Arabic-medium;
  background-color: #edefe4;
}

/* Nav Bar */
#navbar {
  display: inline-block;
  width: 100%;
  background-color: #8b1538;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #00b9ad33;
  z-index: 1;
}

#logo {
  display: inline;
}

#logo img {
  width: 150px;
  margin: 15px;
  padding-left: 15px;
}

ul li {
  list-style-type: none;
  overflow: hidden;
  float: left;
  padding: 8px;
  margin-right: 20px;
  height: 100%;
}

ul li a {
  text-decoration: none;
  display: block;
  font-size: 22px;
  color: white;
  height: 100%;
}

ul li:hover {
  border-bottom: 2px solid white;
}

#list {
  float: right;
  margin: 15px;
}

/* Main Section */
#main-section {
  height: 100vh;
}

#main-img {
  width: 100%;
  height: 100%;
  background-image: url("../Images/worldCup.jpg");
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 30px;
}

#main-text {
  position: absolute;
  color: white;
  margin: 10rem 0 0 3rem;
  position: fixed;

  top: 100px;
  z-index: -1;
}

.cup {
  font-size: 4.25rem;
  text-shadow: 1px 4px 4px black;
}

.arab {
  font-family: "Arabic-font";
  text-shadow: 1px 4px 4px black;
  font-size: 3rem;
  margin-left: 7rem;
  margin-top: -50px;
}

.eng {
  text-shadow: 1px 4px 4px black;
  font-size: 2.5rem;
  margin-left: 8rem;
  margin-top: -30px;
}

.qatar {
  background-clip: text;
  background-image: url("../Images/qatar.png");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(1px 4px 4px black);
  filter: drop-shadow(1px 4px 4px black);
  text-shadow: none;
}

/* Groups Section */
#Groups {
  width: 100%;
  border-top: 100px solid #8b1538;
}

#Groups img {
  width: 100%;
}

/* Matches Section */

#Matches {
  text-align: center;
  background-color: #edefe4;
}

#matches-heading {
  color: #8b1538;
  font-size: 3.5rem;
  padding-top: 150px;
  margin-top: -6px;
}

.match img {
  width: 100px;
  border-radius: 5px;
}

.match {
  background-color: #bcbcb84b;
  margin: 0px 200px 50px;
  border-radius: 30px;
  /* box-shadow: 5px 10px 8px #888888; */
}

.match-team1 {
  float: left;
  margin-left: 200px;
}

.match-team2 {
  float: right;
  margin-right: 200px;
}

.match-group {
  font-weight: 1000;
  font-size: 2rem;
  margin-top: 0;
  padding-top: 45px;
}

.vs {
  font-size: 1.5rem;
  margin: 0px 0px 75px;
  font-weight: bolder;
  padding-top: 20px;
}

.vs span {
  background-color: #a6a79e;
  padding: 8px 24px;
  border-radius: 30px;
  color: #edefe4;
}

.match-data {
  margin-top: -40px;
  padding-bottom: 20px;
}

.dot {
  color: #a6a79e;
}

.match-countDown {
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.kick {
  font-size: 1.25rem;
  padding-top: 20px;
}

#schedule-button button {
  background-color: #8b1538;
  border: 1px solid #8b1538;
  color: #edefe4;
  border-radius: 35px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: Qatar2022Arabic-medium;
  box-shadow: 3px 3px 5px #888888;
  font-size: 1.7rem;
  cursor: pointer;
}

#schedule-button button:hover,
#schedule-button button:focus {
  background-color: #8b1538;
  border: 1px solid #8b1538;
  color: #edefe4;
  border-radius: 35px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: Qatar2022Arabic-medium;
  box-shadow: 5px 10px 8px #888888;
  font-size: 1.7rem;
  cursor: pointer;
}

/* History */
#History {
  background-color: #edefe4;
  padding: 0 0 150px;
}

#History h2 {
  text-align: center;
}
